<div class="card">
  <div class="card-header text-uppercase">Map with Marker</div>
  <div class="card-body">
    <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]='true' [mapTypeControl]='true'>
      <agm-marker [latitude]="lat" [longitude]="lng" [label]="'My Home'" (markerClick)="markerClick($event)" [opacity]=".8  "></agm-marker>
    </agm-map>
  </div>
</div>
