<div class="card">
  <div class="card-body">
    <a routerLink="round-vertical-form" class="card-title">Round Vertical Form</a>
    <hr>
    <form #formInfor="ngForm" name="formInfor" (ngSubmit)="onSignIn(formInfor)">
      <div class="form-group">
        <label for="input-6">Name</label>
        <input type="text" class="form-control form-control-rounded" id="input-6" name="name" [(ngModel)]="infor.name" #inputName='ngModel'
               placeholder="Enter Your Name">
      </div>
      <div class="form-group">
        <label for="input-7">Email</label>
        <input type="text" class="form-control form-control-rounded" id="input-7" name="email" [(ngModel)]="infor.email"
               #inputEmail='ngModel' placeholder="Enter Your Email Address"
               required
               pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        >
        <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
          <div *ngIf="inputEmail?.errors.required" class="text-danger"> Email Adress is required.</div>
          <div *ngIf="inputEmail?.errors.pattern" class="text-danger"> Email not true.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="input-8">Mobile</label>
        <input type="text" class="form-control form-control-rounded" id="input-8" name="mobile" [(ngModel)]="infor.mobile"
               #inputMobile='ngModel' placeholder="Enter Your Mobile Number">
      </div>
      <div class="form-group">
        <label for="input-9">Password</label>
        <input type="password" class="form-control form-control-rounded" id="input-9" name="password" [(ngModel)]="infor.password" required
               #inputPassword='ngModel' placeholder="Enter Password">
        <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
          <div *ngIf="inputPassword?.errors.required" class="text-danger"> Password is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="input-10">Confirm Password</label>
        <input type="password" class="form-control form-control-rounded" id="input-10" placeholder="Confirm Password" name="repassword" #repassword="ngModel"  [(ngModel)]="infor.repassword">
        <div *ngIf="repassword.touched || repassword.dirty">
          <div class="text-danger" *ngIf="repassword.value !== inputPassword.value"> RePassword does'nt match.</div>
        </div>
      </div>
      <div class="form-group py-2">
        <div class="icheck-material-white">
          <input type="checkbox" id="user-checkbox2" name="remember" [(ngModel)]="infor.remember"
                 #inputRemember='ngModel' checked=""/>
          <label for="user-checkbox2">I Agree Terms & Conditions</label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-light px-5"
                [disabled]="formInfor.invalid || (repassword.value !== inputPassword.value)"><i class="icon-lock"></i>
          Register
        </button>
      </div>
    </form>
  </div>
</div>
