<div class="card">
  <div class="card-body">
    <a routerLink="page-views">Page Views</a>
    <h4 class="mb-0">{{data.total}} <small class="small-font">{{data.percent}}% <i class="zmdi zmdi-long-arrow-up"></i></small></h4>
  </div>
  <canvas id="page-view-chart" height="180"></canvas>
</div>
