<div class="row pt-2 pb-2">
  <div class="col-sm-9">
    <h4 class="page-title">Calendar</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a title="javaScript:void();">Dashtreme</a></li>
      <li class="breadcrumb-item"><a title="javaScript:void();">Calendar</a></li>
      <li class="breadcrumb-item active" aria-current="page">Calendar</li>
    </ol>
  </div>
  <div class="col-sm-3">
    <div class="btn-group float-sm-right">
      <button type="button" class="btn btn-light waves-effect waves-light"><i class="fa fa-cog mr-1"></i> Setting</button>
      <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a title="javaScript:void();" class="dropdown-item">Action</a>
        <a title="javaScript:void();" class="dropdown-item">Another action</a>
        <a title="javaScript:void();" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a title="javaScript:void();" class="dropdown-item">Separated link</a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb-->
<app-full-calendar></app-full-calendar>
