.card-authentication1 {
  max-width: 26rem;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
  background-color: transparent!important;
  background-image: none !important;
  color: #ffffff !important;
}
