/*// custom css*/
.swal-text{
  text-align: center!important;
}
/*// custom css smart table*/
.ng2-smart-action{
  i{
    font-size: 30px;
  }
}
.ng2-smart-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  .ng2-smart-action{
    margin-right: 12px;
    i{
      font-size: 17px;
    }
  }

}
ng2-smart-table {
  table{
    a{
      color: #ffffff!important;
    }
  }
  nav.ng2-smart-pagination-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
    .pagination {
      font-family: Exo;
      font-size: 1rem;
      line-height: 1.25;
      border: #1e6bb8 solid 2px;
      border-radius: 0.5rem;

      .ng2-smart-page-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .ng2-smart-page-item{
        font-size: 16px;
      }
    }
  }

}
// custom css theme admin4
body {
  color: #ffffff;
  .form-control-position i{
    color: #ffffff;
  }
  input.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    &:focus{
      color: #ffffff;
    }
  }
}
.select2-dropdown{
  background-color: #225a91;
  color: white;
}

// form-wizard
#form-wizard{
  .card{
    background: transparent;
    box-shadow: none;
    height: 100%;
    .card-header{
      background: transparent;
      .nav-item{
        background: #ffffff;
        margin: 10px;
        border-radius: 14px;
      }
    }
    .card-footer{
      background: transparent;
    }
  }
  .nav-item {
    &.enabled {
      color: #046f52;
    }
  }
}
.😅{
  color: chartreuse;
  font-size: 30px;
}
