<div class="card bg-transparent">
  <div class="card-header text-uppercase">
    Basic Form Wizard
  </div>
  <div class="card-body">
    <form-wizard id="form-wizard">
      <wizard-step [title]="'1.Account'" [isValid]="acountForm.form.valid" (onNext)="onStep1Next($event)">
        <h3 class="ml-2"></h3>
        <form #acountForm="ngForm">
          <div class="form-group">
            <label for="userName">User name *</label>
            <input class="form-control" type="text" id="userName" name="username" [(ngModel)]="infor.username"
                   #username="ngModel" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password"> Password *</label>
            <input type="text" class="form-control" id="password" name="password" [(ngModel)]="infor.password"
                   #password="ngModel" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="repassword">Confirm Password *</label>
            <input id="repassword" type="text" class="form-control" name="repassword" [(ngModel)]="infor.repassword"
                   #repassword="ngModel" autocomplete="off">
          </div>
        </form>
      </wizard-step>
      <wizard-step [title]="'2.Profile'" (onNext)="onStep2Next($event)">
        <h3 class="ml-2"></h3>
        <form #inforForm="ngForm">
          <div class="form-group">
            <label> First name *</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="infor.firstname" #firstname="ngModel">
          </div>
          <div class="form-group">
            <label> Last name *</label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="infor.lastname" #lastname="ngModel">
          </div>
          <div class="form-group">
            <label>Email *</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="infor.email" #email="ngModel">
          </div>
          <div class="form-group">
            <label>Address *</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="infor.address" #address="ngModel">
          </div>
          <div class="form-group">
            <label class="col-lg-12 control-label">(*) Mandatory</label>
          </div>
        </form>
      </wizard-step>
      <wizard-step [title]="'3.Hints'" (onNext)="onStep3Next($event)">
        <h3 class="ml-2"></h3>
        <div class="form-group">
          <div class="col-lg-12">
            <ul>
              <li>{{infor.firstname}}</li>
              <li>{{infor.lastname}}</li>
              <li>{{infor.email}}</li>
              <li>{{infor.address}}</li>
            </ul>
          </div>
        </div>
      </wizard-step>
      <wizard-step [title]="'4.Finish'" (onComplete)="onComplete($event)">
        <div [ngSwitch]="2">
          <div *ngSwitchDefault>
            <h3 class="ml-2"></h3>
            <div class="form-group">
              <div class="col-lg-12">
                <div class="icheck-material-white">
                  <input id="checkbox-h" type="checkbox">
                  <label for="checkbox-h">
                    I agree with the Terms and Conditions.
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="true">
            <h4>Thank you! You have completed all the steps.</h4>
          </div>
        </div>
      </wizard-step>
    </form-wizard>
  </div>
</div>
