<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
  <div class="brand-logo">
    <a title="index.html">
      <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
      <h5 class="logo-text">Dashtreme Admin</h5>
    </a>
  </div>
  <div class="user-details">
    <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
      <div class="avatar"><img class="mr-3 side-user-img" src="assets/images/avatars/avatar-13.png" alt="user avatar">
      </div>
      <div class="media-body">
        <h6 class="side-user-name">Mark Jhonsan</h6>
      </div>
    </div>
    <div id="user-dropdown" class="collapse">
      <ul class="user-setting-menu">
        <li><a routerLink=''><i class="icon-user"></i> My Profile</a></li>
        <li><a routerLink=''><i class="icon-settings"></i> Setting</a></li>
        <li><a routerLink='auth/login'><i class="icon-power"></i> Logout</a></li>
      </ul>
    </div>
  </div>
  <ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header">MAIN NAVIGATION</li>
    <li>
      <a routerLink='' class="waves-effect">
        <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a routerLink="dashboard/ecommerce"><i class="zmdi zmdi-long-arrow-right"></i> Ecommerce</a></li>
        <li><a routerLink="dashboard/ecommerce"><i class="zmdi zmdi-long-arrow-right"></i> Property Listings</a></li>
        <li><a routerLink="dashboard/show-component"><i class="zmdi zmdi-long-arrow-right"></i> Show</a></li>
      </ul>
    </li>
    <li>
      <a title='' class="waves-effect">
        <i class="zmdi zmdi-layers"></i>
        <span>UI Elements</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a title="ui-typography.html"><i class="zmdi zmdi-long-arrow-right"></i> Typography</a></li>
        <li><a title="ui-cards.html"><i class="zmdi zmdi-long-arrow-right"></i> Cards</a></li>
        <li><a title="ui-buttons.html"><i class="zmdi zmdi-long-arrow-right"></i> Buttons</a></li>
        <li><a title="ui-nav-tabs.html"><i class="zmdi zmdi-long-arrow-right"></i> Nav Tabs</a></li>
        <li><a title="ui-accordions.html"><i class="zmdi zmdi-long-arrow-right"></i> Accordions</a></li>
        <li><a title="ui-modals.html"><i class="zmdi zmdi-long-arrow-right"></i> Modals</a></li>
        <li><a title="ui-list-groups.html"><i class="zmdi zmdi-long-arrow-right"></i> List Groups</a></li>
        <li><a title="ui-bootstrap-elements.html"><i class="zmdi zmdi-long-arrow-right"></i> BS Elements</a></li>
        <li><a title="ui-pagination.html"><i class="zmdi zmdi-long-arrow-right"></i> Pagination</a></li>
        <li><a title="ui-alerts.html"><i class="zmdi zmdi-long-arrow-right"></i> Alerts</a></li>
        <li><a title="ui-progressbars.html"><i class="zmdi zmdi-long-arrow-right"></i> Progress Bars</a></li>
        <li><a title="ui-checkbox-radio.html"><i class="zmdi zmdi-long-arrow-right"></i> Checkboxes & Radios</a></li>
        <li><a title="ui-notification.html"><i class="zmdi zmdi-long-arrow-right"></i> Notifications</a></li>
        <li><a title="ui-sweet-alert.html"><i class="zmdi zmdi-long-arrow-right"></i> Sweet Alerts</a></li>
      </ul>
    </li>
    <li>
      <a routerLink='' class="waves-effect">
        <i class="zmdi zmdi-card-travel"></i>
        <span>Components</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a title="components-range-slider.html"><i class="zmdi zmdi-long-arrow-right"></i> Range Sliders</a></li>
        <li><a title="components-image-carousel.html"><i class="zmdi zmdi-long-arrow-right"></i> Image Carousels</a>
        </li>
        <li><a title="components-grid-layouts.html"><i class="zmdi zmdi-long-arrow-right"></i> Grid Layouts</a></li>
        <li><a title="components-switcher-buttons.html"><i class="zmdi zmdi-long-arrow-right"></i> Switcher Buttons</a>
        </li>
        <li><a title="components-pricing-table.html"><i class="zmdi zmdi-long-arrow-right"></i> Pricing Tables</a></li>
        <li><a title="components-vertical-timeline.html"><i class="zmdi zmdi-long-arrow-right"></i> Vertical
          Timeline</a></li>
        <li><a title="components-horizontal-timeline.html"><i class="zmdi zmdi-long-arrow-right"></i> Horizontal
          Timeline</a></li>
        <li><a title="components-fancy-lightbox.html"><i class="zmdi zmdi-long-arrow-right"></i> Fancy Lightbox</a>
        </li>
        <li><a title="components-color-palette.html"><i class="zmdi zmdi-long-arrow-right"></i> Color Palette</a></li>
      </ul>
    </li>
    <li>
      <a title='charts' class="waves-effect">
        <i class="zmdi zmdi-chart"></i> <span>Charts</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li class="active"><a [routerLink]="['charts/chartjs']"><i class="zmdi zmdi-long-arrow-right"></i>Chart JS</a></li>
        <li><a [routerLink]="['charts/morris-chart']"><i class="zmdi zmdi-long-arrow-right"></i> Morris Charts</a></li>
        <!--<li><a title="charts-sparkline.html"><i class="zmdi zmdi-long-arrow-right"></i> Sparkline Charts</a></li>-->
        <!--<li><a title="charts-peity.html"><i class="zmdi zmdi-long-arrow-right"></i> Peity Charts</a></li>-->
        <li><a [routerLink]="['charts/other-chart']"><i class="zmdi zmdi-long-arrow-right"></i> Other Charts</a></li>
      </ul>
    </li>
    <li>
      <a routerLink='' class="waves-effect">
        <i class="zmdi zmdi-invert-colors"></i> <span>UI Icons</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a title="icons-font-awesome.html"><i class="zmdi zmdi-long-arrow-right"></i> Font Awesome</a></li>
        <li><a title="icons-material-designs.html"><i class="zmdi zmdi-long-arrow-right"></i> Material Design</a></li>
        <li><a title="icons-themify.html"><i class="zmdi zmdi-long-arrow-right"></i> Themify Icons</a></li>
        <li><a title="icons-simple-line-icons.html"><i class="zmdi zmdi-long-arrow-right"></i> Line Icons</a></li>
        <li><a title="icons-flags.html"><i class="zmdi zmdi-long-arrow-right"></i> Flag Icons</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['calendars']" class="waves-effect">
        <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
        <small class="badge float-right badge-light">New</small>
      </a>
    </li>

    <li>
      <a routerLink='' class="waves-effect">
        <i class="zmdi zmdi-email"></i>
        <span>Mailbox</span>
        <small class="badge float-right badge-warning">12</small>
      </a>
      <ul class="sidebar-submenu">
        <li><a title="mail-inbox.html"><i class="zmdi zmdi-long-arrow-right"></i> Inbox</a></li>
        <li><a title="mail-compose.html"><i class="zmdi zmdi-long-arrow-right"></i> Compose</a></li>
        <li><a title="mail-read.html"><i class="zmdi zmdi-long-arrow-right"></i> Read Mail</a></li>
      </ul>
    </li>

    <li>
      <a title='forms' class="waves-effect">
        <i class="zmdi zmdi-format-list-bulleted"></i> <span>Forms</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <!--<li><a title="form-inputs.html"><i class="zmdi zmdi-long-arrow-right"></i> Basic Inputs</a></li>-->
        <!--<li><a title="form-input-group.html"><i class="zmdi zmdi-long-arrow-right"></i> Input Groups</a></li>-->
        <li><a routerLink="forms/form-layouts"><i class="zmdi zmdi-long-arrow-right"></i> Form Layouts</a></li>
        <li><a routerLink="forms/form-advanced"><i class="zmdi zmdi-long-arrow-right"></i> Form Advanced</a></li>
        <!--<li><a title="form-uploads.html"><i class="zmdi zmdi-long-arrow-right"></i> Form Uploads</a></li>-->
        <!--<li><a title="form-validation.html"><i class="zmdi zmdi-long-arrow-right"></i> Form Validation</a></li>-->
        <li><a routerLink="forms/form-wizard"><i class="zmdi zmdi-long-arrow-right"></i> Form Wizard</a></li>
        <!--<li><a title="form-text-editor.html"><i class="zmdi zmdi-long-arrow-right"></i> Form Editor</a></li>-->
      </ul>
    </li>

    <li>
      <a routerLink='' class="waves-effect">
        <i class="zmdi zmdi-lock"></i> <span>Authentication</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a routerLink="/auth/signIn-1"><i class="zmdi zmdi-long-arrow-right"></i> SignIn 1</a></li>
        <li><a routerLink="/auth/signUp-1"><i class="zmdi zmdi-long-arrow-right"></i> SignUp 1</a></li>
        <li><a routerLink="/auth/signIn-2"><i class="zmdi zmdi-long-arrow-right"></i> SignIn 2</a></li>
        <li><a routerLink="/auth/signUp-2"><i class="zmdi zmdi-long-arrow-right"></i> SignUp 2</a></li>
        <li><a routerLink="/auth/lock-screen"><i class="zmdi zmdi-long-arrow-right"></i> Lock Screen</a></li>
        <li><a routerLink="/auth/reset-password-1"><i class="zmdi zmdi-long-arrow-right"></i> Reset Password
          1</a></li>
        <li><a routerLink="/auth/reset-password-2"><i class="zmdi zmdi-long-arrow-right"></i> Reset Password 2</a>
        </li>
      </ul>
    </li>

    <li>
      <a title="widgets.html" class="waves-effect">
        <i class="zmdi zmdi-widgets"></i> <span>Widgets</span>
        <small class="badge float-right badge-danger">10</small>
      </a>
    </li>

    <li>
      <a title='Tables' class="waves-effect">
        <i class="zmdi zmdi-grid"></i> <span>Tables</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a routerLink="tables/simple-table"><i class="zmdi zmdi-long-arrow-right"></i> Simple Tables</a></li>
        <li><a routerLink="tables/data-table"><i class="zmdi zmdi-long-arrow-right"></i> Data Tables</a></li>
        <li><a routerLink="tables/smart-table"><i class="zmdi zmdi-long-arrow-right"></i> Smart Tables</a></li>
      </ul>
    </li>

    <li>
      <a routerLink='' class="waves-effect">
        <i class="zmdi zmdi-map"></i> <span>Maps</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a routerLink="maps/google-maps"><i class="zmdi zmdi-long-arrow-right"></i> Google Maps</a></li>
        <li><a title="maps-vector.html"><i class="zmdi zmdi-long-arrow-right"></i> Vector Maps</a></li>
      </ul>
    </li>

    <li>
      <a routerLink='' class="waves-effect">
        <i class="zmdi zmdi-collection-folder-image"></i> <span>Sample Pages</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a title="pages-invoice.html"><i class="zmdi zmdi-long-arrow-right"></i> Invoice</a></li>
        <li><a title="pages-user-profile.html"><i class="zmdi zmdi-long-arrow-right"></i> User Profile</a></li>
        <li><a title="pages-blank-page.html"><i class="zmdi zmdi-long-arrow-right"></i> Blank Page</a></li>
        <li><a title="pages-coming-soon.html"><i class="zmdi zmdi-long-arrow-right"></i> Coming Soon</a></li>
        <li><a title="pages-403.html"><i class="zmdi zmdi-long-arrow-right"></i> 403 Error</a></li>
        <li><a title="pages-404.html"><i class="zmdi zmdi-long-arrow-right"></i> 404 Error</a></li>
        <li><a title="pages-500.html"><i class="zmdi zmdi-long-arrow-right"></i> 500 Error</a></li>
      </ul>
    </li>

    <li>
      <a routerLink='' class="waves-effect">
        <i class="fa fa-share"></i> <span>Multilevel</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a routerLink=''><i class="zmdi zmdi-long-arrow-right"></i> Level One</a></li>
        <li>
          <a routerLink=''><i class="zmdi zmdi-long-arrow-right"></i> Level One <i
            class="fa fa-angle-left pull-right"></i></a>
          <ul class="sidebar-submenu">
            <li><a routerLink=''><i class="zmdi zmdi-long-arrow-right"></i> Level Two</a></li>
            <li>
              <a routerLink=''><i class="zmdi zmdi-long-arrow-right"></i> Level Two <i
                class="fa fa-angle-left pull-right"></i></a>
              <ul class="sidebar-submenu">
                <li><a routerLink=''><i class="zmdi zmdi-long-arrow-right"></i> Level Three</a></li>
                <li><a routerLink=''><i class="zmdi zmdi-long-arrow-right"></i> Level Three</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a routerLink='' class="waves-effect"><i class="zmdi zmdi-long-arrow-right"></i> Level One</a>
        </li>
      </ul>
    </li>
    <li>
      <a title='charts' class="waves-effect">
        <i class="zmdi zmdi-share text-danger"></i> <span>Angular npm</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
      <ul class="sidebar-submenu">
        <li><a routerLink='angular-npms/angular-editor-fabric' class="waves-effect"><i class="zmdi zmdi-globe text-success"></i> <span>Angular-editor-fabric-js</span></a>
        </li>
        <li><a routerLink='angular-npms/color-pickers' class="waves-effect"><i class="zmdi zmdi-format-color-fill text-success"></i> <span>Angular Color-Picker</span></a>
        </li>
      </ul>
    </li>


    <li class="sidebar-header">LABELS</li>
    <li><a routerLink='' class="waves-effect"><i class="zmdi zmdi-coffee text-danger"></i>
      <span>Important</span></a></li>
    <li><a routerLink='' class="waves-effect"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a>
    </li>
    <li><a routerLink='' class="waves-effect"><i class="zmdi zmdi-share text-info"></i>
      <span>Information</span></a></li>

  </ul>

</div>
