<div class="card">
  <div class="card-header"><i class="fa fa-table"></i> <a routerLink="data-table-example">Data Table Example</a></div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="default-datatable" class="table table-bordered">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
