<div class="card">
  <a routerLink="doughnut-chart" class="card-header text-uppercase">Doughnut Chart</a>
  <div class="card-body">
    <canvas id="doughnutChart" height="240"></canvas>
  </div>
</div>

