<div class="card">
  <div class="card-header text-uppercase">Jquery Knob Chart</div>
  <div class="card-content">
    <div class="row row-group m-0 text-center">
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card-body">
          <input class="knob" data-width="180" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff" data-displayinput="false" value="35">
          <hr>
          <p class="font-weight-bold">Disable display input</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card-body">
          <input class="knob" data-width="180" data-min="-100" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff" data-displayprevious="true" value="44">
          <hr>
          <p class="font-weight-bold">Display previous value</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card-body">
          <input class="knob" data-width="180" data-cursor="true" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff" value="29">
          <hr>
          <p class="font-weight-bold">Cursor mode</p>
        </div>
      </div>
    </div>
  </div>
</div><!--End Card-->


<div class="card">
  <div class="card-content">
    <div class="row row-group m-0 text-center">
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card-body">
          <input class="knob" data-width="180" data-readOnly="true" data-angleoffset="90" data-linecap="round" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff" data-max="15000" value="8550">
          <hr>
          <p class="font-weight-bold">Angle offset</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card-body">
          <input class="knob" data-width="180" data-min="-15000" data-displayprevious="true" data-max="15000" data-step="1000" value="-11000" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff">
          <hr>
          <p class="font-weight-bold">5-digit values, step 1000</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card-body">
          <input class="knob" data-width="180" data-cursor="true" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff" value="29">
          <hr>
          <p class="font-weight-bold">Angle offset and arc</p>
        </div>
      </div>
    </div>
  </div>
</div><!--End Card-->
