<div class="card-authentication2 mx-auto my-5">
  <div class="card-group">
    <div class="card mb-0">
      <div class="bg-signin2"></div>
      <div class="card-img-overlay rounded-left my-5">
        <h2 class="text-white">Lorem</h2>
        <h1 class="text-white">Ipsum Dolor</h1>
        <p class="card-text text-white pt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div>
    </div>

    <div class="card mb-0 ">
      <div class="card-body">
        <div class="card-content p-2">
          <div class="text-center">
            <img src="assets/images/logo-icon.png" alt="logo icon">
          </div>
          <div class="card-title text-uppercase text-center py-3">Sign In</div>
          <form #formLogin="ngForm" (ngSubmit)="onSignIn()" name="formLogin">
            <div class="form-group">
              <label for="exampleEmail" class="sr-only">Email</label>
              <div class="position-relative has-icon-right">
                <input type="text" id="exampleEmail"
                       class="form-control input-shadow"
                       placeholder="Enter Email"
                       name="email"
                       #inputEmail='ngModel'
                       [(ngModel)]="user.userName"
                       autofocus=""
                       required
                       pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div class="form-control-position">
                  <i class="icon-user"></i>
                </div>
              </div>
              <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
                <div *ngIf="inputEmail?.errors.required" class="text-danger"> Email Adress is required.</div>
                <div *ngIf="inputEmail?.errors.pattern" class="text-danger"> Email not true.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword" class="sr-only">Password</label>
              <div class="position-relative has-icon-right">
                <input type="password" id="exampleInputPassword"
                       class="form-control input-shadow"
                       placeholder="Enter Password"
                       #inputPassword='ngModel'
                       name="password"
                       [(ngModel)]="user.passWord"
                       required
                       maxlength="10">
                <div class="form-control-position">
                  <i class="icon-lock"></i>
                </div>
              </div>
              <!--show error pass word-->
              <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
                <div *ngIf="inputPassword?.errors.required" class="text-danger"> Password is required.</div>
              </div>
            </div>
            <div class="form-row">
              <!--<div class="form-group col-6">-->
              <!--<div class="icheck-material-white">-->
              <!--<input type="checkbox" id="user-checkbox" checked=""  #remember='ngModel'-->
              <!--[(ngModel)]="user.remember" name=""/>-->
              <!--<label for="user-checkbox">Remember me</label>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <button type="submit" class="btn btn-light btn-block mt-4" [disabled]="formLogin.invalid">Sign In</button>
            <div class="text-center mt-3 text-white">Sign In With</div>

            <div class="form-row mt-4">
              <div class="form-group mb-0 col-6">
                <button type="button" class="btn btn-light btn-block"><i class="fab fa-facebook"></i> Facebook</button>
              </div>
              <div class="form-group mb-0 col-6 text-right">
                <button type="button" class="btn btn-light btn-block"><i class="fab fa-twitter-square"></i> Twitter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer text-center py-3">
        <p class="text-warning mb-0">Do not have an account? <a routerLink="/auth/users/register"> Sign Up here</a></p>
      </div>
    </div>
  </div>
</div>
