<div class="card">
  <div class="card-body">
    <a routerLink="total-earning-sale">Total Earning</a>
    <h4 class="mb-0">{{totalEarning.total}}$</h4>
    <small>{{totalEarning.percent}}% <i class="zmdi zmdi-long-arrow-up"></i> Since Last Month</small>
    <hr>
    <a routerLink="total-earning-sale">Total Sales</a>
    <h4 class="mb-0">{{totalSales.total}}</h4>
    <small>{{totalSales.percent}}% <i class="zmdi zmdi-long-arrow-up"></i> Since Last Month</small>
    <div class="mt-5">
      <canvas id="chart5" height="160"></canvas>
    </div>
  </div>
</div>
