<div class="card">
  <div class="card-header text-uppercase">Styled map custom</div>
  <div class="card-body">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [styles]="styles"
      (mapClick)="mapClicked($event)"
    >

      <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
          <strong class="text-black-50" style="color: #000000;">InfoWindow content</strong>
        </agm-info-window>

      </agm-marker>

      <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
                  [radius]="5000"
                  [fillColor]="'red'"
                  [circleDraggable]="true"
                  [editable]="true">
      </agm-circle>

    </agm-map>

  </div>
</div>
<!--[zoomControl]="false"-->
