<div class="card">
  <div class="card-body">
    <a routerLink="device-storage">Device Storage</a>
    <h4 class="mb-3">{{data.sub_total}}/{{data.total}}</h4>
    <hr>
      <div class="progress-wrapper mb-4" *ngFor="let item of data.list_data">
      <p>{{item.name}} <span class="float-right">{{item.capacity}}GB</span></p>
      <div class="progress" style="height:5px;">
        <div class="progress-bar" [style.width.%]="item.percent "></div>
      </div>
    </div>

  </div>
</div>
