<div id="wrapper">
  <!--Start sidebar-wrapper-->
  <app-sidebar-menu></app-sidebar-menu>
  <!--End sidebar-wrapper-->
  <!--top Header-->
  <app-header></app-header>
  <!--End Top Header-->
  <div class="clearfix"></div>
  <div class="content-wrapper text-white">
    <div class="container-fluid">
      <!--// PAGE ROUTER-->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--Start Back To Top Button-->
  <app-back-to-top></app-back-to-top>
  <!--End Back To Top Button-->
  <app-footer></app-footer>
</div>
