<div class="card">
  <div class="card-header text-uppercase">Jquery Easy Pie Chart</div>
  <div class="card-content">
    <div class="row row-group m-0 text-center">
      <div class="col-12 col-lg-6 col-xl-3" *ngFor="let item of datas">
        <div class="card-body">
          <app-easy-pie-chart [percent]="item.value"></app-easy-pie-chart>
          <hr>
          <p class="font-weight-bold">{{item.name}}</p>
        </div>
      </div>

    </div>
  </div>
</div><!--End Card-->
