<div class="row">
  <div class="col-12 col-lg-6 col-xl-4" *ngFor="let item of datas">
    <ng-container >
      <app-one-social-statistical [data]="item"></app-one-social-statistical>
    </ng-container>
  </div>
</div>
