<div class="card-body">
  <h5 class="text-white mb-0">{{totalNumber}} <span class="float-right"><i class="{{iconClass}}"></i></span></h5>
  <div class="progress my-3" style="height:3px;">
    <div class="progress-bar" [style.width.%]="currentPercent"></div>
  </div>
  <p class="mb-0 text-white small-font">{{title}} <span class="float-right">{{changePercent}}% <i class="zmdi zmdi-long-arrow-up"></i></span></p>
</div>
