<div class="card">
  <div class="card-body">
    <a routerLink="total-click">Total Clicks</a>
    <h4 class="mb-0">{{datas.total}} <small class="small-font">{{datas.percent}}% <i class="zmdi zmdi-long-arrow-up"></i></small></h4>
  </div>
  <canvas id="total-click-chart" height="180"></canvas>
</div>
