
<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
  <div class="col-sm">
    <h4 class="page-title">Form Wizard</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
      <li class="breadcrumb-item"><a href="javaScript:void();">Forms</a></li>
      <li class="breadcrumb-item active" aria-current="page">Form Wizard</li>
    </ol>
  </div>
  <div class="col-sm-3">
    <div class="btn-group float-sm-right">
      <button type="button" class="btn btn-light waves-effect waves-light"><i class="fa fa-cog mr-1"></i> Setting</button>
      <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a href="javaScript:void();" class="dropdown-item">Action</a>
        <a href="javaScript:void();" class="dropdown-item">Another action</a>
        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb-->

<div class="row">
  <div class="col-lg-12">
    <app-basic-form-wizard></app-basic-form-wizard>
  </div>
</div><!-- End Row-->

<!--Basic form wizard-->
<!--<div class="row">-->
  <!--<div class="col-lg-12">-->
    <!--<div class="card">-->
      <!--<div class="card-header text-uppercase">-->
        <!--Vertical Form Wizard-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div id="wizard-vertical">-->
          <!--<h3>Account</h3>-->
          <!--<section>-->
            <!--<div class="form-group">-->
              <!--<label>User name *</label>-->
              <!--<input class="form-control" type="text">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label> Password *</label>-->
              <!--<input type="text" class="form-control">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label>Confirm Password *</label>-->
              <!--<input type="text" class="form-control">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="col-lg-12">(*) Mandatory</label>-->
            <!--</div>-->
          <!--</section>-->
          <!--<h3>Profile</h3>-->
          <!--<section>-->
            <!--<div class="form-group">-->
              <!--<label> First name *</label>-->
              <!--<input type="text" class="form-control">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label> Last name *</label>-->
              <!--<input type="text" class="form-control">-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label>Email *</label>-->
              <!--<input type="text" class="form-control">-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label>Address *</label>-->
              <!--<input type="text" class="form-control">-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label class="col-lg-12">(*) Mandatory</label>-->
            <!--</div>-->
          <!--</section>-->

          <!--<h3>Hints</h3>-->
          <!--<section>-->
            <!--<div class="form-group">-->
              <!--<div class="col-lg-12">-->
                <!--<ul>-->
                  <!--<li>Jonathan Smith </li>-->
                  <!--<li>Lab</li>-->
                  <!--<li>jonathan@example.com</li>-->
                  <!--<li>Your city, Cityname</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->

          <!--</section>-->
          <!--<h3>Finish</h3>-->
          <!--<section>-->
            <!--<div class="form-group">-->
              <!--<div class="col-lg-12">-->
                <!--<div class="icheck-material-white">-->
                  <!--<input id="checkbox-v" type="checkbox">-->
                  <!--<label for="checkbox-v">-->
                    <!--I agree with the Terms and Conditions.-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</section>-->

        <!--</div> &lt;!&ndash; End #wizard-vertical &ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>&lt;!&ndash; End Row&ndash;&gt;-->
