<div class="card">
  <div class="card-header text-uppercase">Polygonal Map</div>
  <div class="card-body">
    <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]='true' [mapTypeControl]='true' [zoom]="5" >
      <agm-polygon [paths]="paths" [fillColor]="'red'" [strokeColor]="'red'"> </agm-polygon>
    </agm-map>
  </div>
</div>

