<div class="card" id="{{data.id}}">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="w_chart easy-dash-chart" [attr.data-percent]="data.percent">
        <span class="w_percent"></span>
      </div>
      <div class="media-body ml-3">
        <h6 class="mb-0">{{data.name}}</h6>
        <small class="mb-0">{{data.percentLastWeek}}% <i class="fa fa-arrow-up"></i> Since Last Week</small>
      </div>
      <i class="{{iconClass}} text-white text-right fa-2x" ></i>
    </div>
  </div>
</div>
