<div class="card">
  <div class="card-body">
    <h5 class="card-title">Smart Table Component</h5>
    <div class="table-responsive">
       <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onSaveConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </div>
  </div>
</div>
