<div class="card-authentication2 mx-auto my-5">
  <div class="card-group">
    <div class="card mb-0">
      <div class="bg-reset-password2"></div>
      <div class="card-img-overlay rounded-left my-5">
        <h2 class="text-white">Lorem</h2>
        <h1 class="text-white">Ipsum Dolor</h1>
        <p class="card-text text-white pt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div>
    </div>

    <div class="card mb-0">
      <div class="card-body">
        <div class="card-content p-3">
          <div class="card-title text-uppercase text-center pb-3">Reset Password</div>
          <p class="text-center pb-2">Please enter your email address. You will receive a link to create a new password via email.</p>
          <form>
            <div class="form-group">
              <div class="position-relative has-icon-left">
                <label for="exampleInputEmailAddress" class="sr-only">Email Address</label>
                <input type="text" id="exampleInputEmailAddress" class="form-control" placeholder="Email Address" #emailReset>
                <div class="form-control-position">
                  <i class="icon-envelope-open"></i>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-light btn-block mt-3" (click)="resetPassword()">Reset Password</button>
            <div class="clearfix"></div>
            <div class="text-center pt-3">
              <hr>
              <p class="text-warning">Return to the <a href="authentication-signin2.html"> Sign In</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
