<div class="card">
  <div class="card-header">
    <a routerLink="world-selling-region">World Selling Region</a>
    <div class="card-action">
      <div class="dropdown">
        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="icon-options"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:void();">Action</a>
          <a class="dropdown-item" href="javascript:void();">Another action</a>
          <a class="dropdown-item" href="javascript:void();">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void();">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="dashboard-map" style="height: 270px;"></div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover align-items-center">
      <thead>
      <tr>
        <th>Country</th>
        <th>Income</th>
        <th>Trend</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of datas; index as i">
        <td><i class="flag-icon flag-icon-{{item.flag}} mr-2"></i> {{item.country}}</td>
        <td>{{item.income}}$</td>
        <td><span id="trendchart{{i}}"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
