<div class="card mt-3">
  <div class="card-header">
    <a routerLink="total-statistical" class="d-inline-block">Total Statistical</a>

  </div>
  <div class="card-content">
    <div class="row row-group m-0">
      <div class="col-12 col-lg-6 col-xl-3 border-light" *ngFor="let item of data">
         <app-statistical-counter  [totalNumber]='item.sum' [title]="item.name" [changePercent]="item.percent" [currentPercent]="item.progress"></app-statistical-counter>
      </div>
    </div>
  </div>
</div>
