<div class="card">
  <div class="card-header"> <a routerLink="recent-order-tables">Recent Order Tables</a>
    <div class="card-action">
      <div class="dropdown">
        <a title="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="icon-options"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" title="javascript:void();">Action</a>
          <a class="dropdown-item" title="javascript:void();">Another action</a>
          <a class="dropdown-item" title="javascript:void();">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" title="javascript:void();">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush table-borderless">
      <thead>
      <tr>
        <th>Product</th>
        <th>Photo</th>
        <th>Product ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Shipping</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of datas">
        <td>{{item.product_name}}</td>
        <td><img src="{{item.photo}}" class="product-img" alt="product img"></td>
        <td>#{{item.product_id}}</td>
        <td>$ {{item.amount}}</td>
        <td>{{item.date}}</td>
        <td><div class="progress shadow" style="height: 3px;">
          <div class="progress-bar" role="progressbar" [style.width.%]="item.shipping"></div>
        </div></td>
      </tr>
      </tbody></table>
  </div>
</div>
