<div class="card card-authentication1 mx-auto my-5 animated bounceInDown">
  <div class="user-lock rounded-top bg-dark-light">
    <div class="user-lock-img">
      <img src="assets/images/avatars/avatar-18.png" alt="user avatar">
    </div>
  </div>
  <div class="card-body">
    <h4 class="text-center mt-5 py-2">Mark Jhonsan</h4>
    <form class="mt-3 mb-1" name="form-lock-screen`">
      <div class="form-group">
        <label for="exampleInputpassword" class="sr-only">Enter Password</label>
        <input type="password" class="form-control" id="exampleInputpassword" placeholder="Enter your password"
               #password>
      </div>
      <button type="button" class="btn btn-light btn-block waves-effect waves-light mt-2" (click)="unLock()"><i
        class="icon-lock-open"></i> Unlock
      </button>
    </form>
  </div>
</div>
