<div class="card">
  <div class="card-header"><a routerLink="customer-review">Customer Review </a>
    <div class="card-action">
      <div class="dropdown">
        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="icon-options"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:void();">Action</a>
          <a class="dropdown-item" href="javascript:void();">Another action</a>
          <a class="dropdown-item" href="javascript:void();">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void();">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of data">
      <div class="media align-items-center">
        <img [attr.src]="item.avatar" alt="user avatar" class="customer-img rounded-circle">
        <div class="media-body ml-3">
          <h6 class="mb-0">{{item.name}} <small class="ml-4">{{item.time}}</small></h6>
          <p class="mb-0 small-font">{{item.content}}</p>
        </div>
        <div class="star">
            <i class="zmdi zmdi-star" *ngFor="let item of createArrayStarLight(item.star)"></i>
          <i class="zmdi zmdi-star text-light" *ngFor="let item of createArrayStarNotLight(item.star)"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
