<div class="card">
  <div class="card-body text-center">
    <p class="mb-4"><a routerLink="total-downloads">Total Downloads</a></p>
    <input class="knob-total" data-width="175" data-height="175" data-readOnly="true" data-thickness=".2" data-angleoffset="90" data-linecap="round" data-bgcolor="rgba(255, 255, 255, 0.14)" data-fgcolor="#fff" data-max="15000" value="{{data.value}}"/>
    <hr>
    <p class="mb-0 small-font text-center">{{data.percent}}% <i class="zmdi zmdi-long-arrow-up"></i> since yesterday</p>
  </div>
</div>
