<div class="card">
  <div class="card-header">
    <a routerLink="weeky-sale" class="d-inline-block">Weekly sales</a>
    <div class="card-action">
      <div class="dropdown">
        <a title="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="icon-options"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" title="javascript:void();">Action</a>
          <a class="dropdown-item" title="javascript:void();">Another action</a>
          <a class="dropdown-item" title="javascript:void();">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" title="javascript:void();">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <!--chart doughnut-->
  <div class="card-body">
    <canvas id="doughnutChart" height="175"></canvas>
  </div>
  <!--chart doughnut-->
  <div class="table-responsive">
    <table class="table align-items-center">
      <tbody>
      <tr *ngFor="let item of dataTable" id="{{item.id}}">
        <td><i class="fa fa-circle text-white mr-2"></i> {{item.name}}</td>
          <td>${{item.price}}</td>
        <td>{{item.percent}}%</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
