<div class="card">
  <div class="card-header">
    <a routerLink="site-traffic" class="d-inline-block">Site Traffic</a>
    <div class="card-action">
      <div class="dropdown">
        <a title="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
          <i class="icon-options"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" title="javascript:void();">Action</a>
          <a class="dropdown-item" title="javascript:void();">Another action</a>
          <a class="dropdown-item" title="javascript:void();">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" title="javascript:void();">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <canvas id="site-traffic-chart" height="115"></canvas>
  </div>
  <div class="row m-0 row-group text-center border-top border-light-3">
    <div class="col-12 col-lg-4" *ngFor="let item of data">
      <div class="p-3">
        <h5 class="mb-0">{{item.total}}</h5>
          <small class="mb-0">{{item.name}} <span> <i class="fa fa-arrow-up"></i> {{item.percent}}%</span></small>
      </div>
    </div>
  </div>
</div>
