<div class="card">
  <div class="card-body">
    <h5 class="card-title"><a routerLink="basic-table">Basic Table Component</a></h5>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of getDataAttribute()">
          <th scope="row">{{item.id}}</th>
          <td>{{item.first}}</td>
          <td>{{item.last}}</td>
          <td>{{item.handle}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
