<div class="card">
  <div class="card-header text-uppercase">Over Layer Map</div>
  <div class="card-body">
    <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]='true' [mapTypeControl]='true'>
      <agm-kml-layer [url]="url" [zIndex]="1000" [screenOverlays]="false" [preserveViewport]="true" ></agm-kml-layer>
    </agm-map>
  </div>
</div>
