<app-total-counter></app-total-counter>
<div class="row">
  <div class="col-12 col-lg-8 col-xl-8">
    <app-site-trafic></app-site-trafic>
  </div>

  <div class="col-12 col-lg-4 col-xl-4">
   <app-weekysale></app-weekysale>
  </div>
</div><!--End Row-->


<!--easy dash chart-->
<app-social-statistical></app-social-statistical>
<!--End Row-->

<div class="row">
  <div class="col-12 col-lg-12 col-xl-6">
   <app-world-selling-region></app-world-selling-region>
  </div>

  <div class="col-12 col-lg-12 col-xl-6">
    <div class="row">
      <div class="col-12 col-lg-6">
       <app-page-views></app-page-views>
      </div>
      <div class="col-12 col-lg-6">
      <app-total-clicks></app-total-clicks>
      </div>
      <div class="col-12 col-lg-6">
       <app-total-download></app-total-download>
      </div>
      <div class="col-12 col-lg-6">
        <app-device-storage></app-device-storage>
      </div>
    </div>
  </div>

</div><!--End Row-->

<div class="row">
  <div class="col-12 col-lg-6 col-xl-4">
   <app-total-earning-sales></app-total-earning-sales>
  </div>

  <div class="col-12 col-lg-6 col-xl-8">
    <app-customer-review></app-customer-review>
  </div>
</div><!--End Row-->


<div class="row">
  <div class="col-12 col-lg-12">
   <app-recent-order-table></app-recent-order-table>
  </div>
</div><!--End Row-->
