<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
  <div class="col-sm-9">
    <h4 class="page-title">Form Layouts</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
      <li class="breadcrumb-item"><a href="javaScript:void();">Forms</a></li>
      <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
    </ol>
  </div>
  <div class="col-sm-3">
    <div class="btn-group float-sm-right">
      <button type="button" class="btn btn-light waves-effect waves-light"><i class="fa fa-cog mr-1"></i> Setting</button>
      <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a href="javaScript:void();" class="dropdown-item">Action</a>
        <a href="javaScript:void();" class="dropdown-item">Another action</a>
        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb-->
<div class="row">
  <div class="col-lg-6">
    <app-vertical-form></app-vertical-form>
  </div>
  <div class="col-lg-6">
   <app-round-vertical-form></app-round-vertical-form>
  </div>
</div><!--End Row-->

<div class="row">
  <div class="col-lg-12">
   <app-horizontal-form></app-horizontal-form>
    <app-round-horizontal-form></app-round-horizontal-form>
  </div>
</div><!--End Row-->
