
<div class="card card-authentication1 mx-auto my-4">
  <div class="card-body">
    <div class="card-content p-2">
      <div class="text-center">
        <img src="assets/images/logo-icon.png" alt="logo icon">
      </div>
      <div class="card-title text-uppercase text-center py-3">Sign Up</div>
      <form name="form-register" #formRegister="ngForm" (ngSubmit)="register()">
        <div class="form-group">
          <label for="exampleCode" class="sr-only">Name</label>
          <div class="position-relative has-icon-right">
            <input type="text" id="exampleCode"
                   class="form-control input-shadow"
                   placeholder="Enter Employee Code"
                   name="employee_code"
                   #employee_code="ngModel"
                   [(ngModel)]="userRegiste.employee_code"
                   required>
            <div class="form-control-position">
              <i class="fab fa-centercode"></i>
            </div>
          </div>
          <!--// check error uername-->
          <div *ngIf="employee_code.invalid && (employee_code.dirty || employee_code.touched)">
            <div *ngIf="employee_code?.errors.required" class="text-danger">Employee code is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputName" class="sr-only">Name</label>
          <div class="position-relative has-icon-right">
            <input type="text" id="exampleInputName"
                   class="form-control input-shadow"
                   placeholder="Enter Your Name"
                   name="name" #name="ngModel"
                   [(ngModel)]="userRegiste.name"
                   required>
            <div class="form-control-position">
              <i class="icon-user"></i>
            </div>
          </div>
          <!--// check error uername-->
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name?.errors.required" class="text-danger">Name is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmailId" class="sr-only">Email</label>
          <div class="position-relative has-icon-right">
            <input type="text" id="exampleInputEmailId"
                   class="form-control input-shadow"
                   placeholder="Enter Your Email"
                   name="email"
                   #email="ngModel"
                   [(ngModel)]="userRegiste.email"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   required
            >
            <div class="form-control-position">
              <i class="icon-envelope-open"></i>
            </div>
          </div>
          <!--check error email-->
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email?.errors.required" class="text-danger"> Email Adress is required.</div>
            <div *ngIf="email?.errors.pattern" class="text-danger"> Email Wrong.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword" class="sr-only">Password</label>
          <div class="position-relative has-icon-right">
            <input type="password" id="exampleInputPassword"
                   class="form-control input-shadow"
                   placeholder="Choose Password"
                   name="password" #password="ngModel" [(ngModel)]="userRegiste.password" required>
            <div class="form-control-position">
              <i class="icon-lock"></i>
            </div>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password?.errors.required" class="text-danger"> Password is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label  class="sr-only">Confirm Your Password</label>
          <div class="position-relative has-icon-right">
            <input type="password"
                   id="exampleInputRePassword"
                   class="form-control input-shadow"
                   placeholder="Input RePassword"
                   name="repassword" #repassword="ngModel"  [(ngModel)]="userRegiste.repassword" >
            <div class="form-control-position">
              <i class="icon-lock"></i>
            </div>
          </div>
          <div *ngIf="(repassword.dirty || repassword.touched)">
            <div  class="text-danger" *ngIf="repassword.value !== password.value"> RePassword does'nt match.</div>
          </div>
        </div>

        <div class="form-group">
          <div class="icheck-material-white">
            <input type="checkbox" id="user-checkbox" checked=""/>
            <label for="user-checkbox">I Agree With Terms & Conditions</label>
          </div>
        </div>

        <button type="submit" class="btn btn-light btn-block waves-effect waves-light" [disabled]="formRegister.invalid || (repassword.value !== password.value)" >Sign Up</button>
        <div class="text-center mt-3">Sign Up With</div>

        <div class="form-row mt-4">
          <div class="form-group mb-0 col-6">
            <button type="button" class="btn btn-light btn-block"><i class="fa fa-facebook-square"></i> Facebook
            </button>
          </div>
          <div class="form-group mb-0 col-6 text-right">
            <button type="button" class="btn btn-light btn-block"><i class="fa fa-twitter-square"></i> Twitter</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="card-footer text-center py-3">
    <p class="text-warning mb-0">Already have an account? <a routerLink="/auth/login"> Sign In here</a></p>
  </div>
</div>

<!--<form name="form-registe" #formRegister="ngForm" (ngSubmit)="register()">-->
<!--<h1>Sign Up</h1>-->
<!--<fieldset>-->
<!--<legend><span class="number">1</span>Your basic info</legend>-->
<!--<label for="code">Employee code:</label>-->
<!--<input type="text" id="code" name="employee_code" #employee_code="ngModel" [(ngModel)]="userRegiste.employee_code"  required>-->
<!--<div *ngIf="employee_code.invalid && (employee_code.dirty || employee_code.touched)">-->
<!--<div *ngIf="employee_code?.errors.required" class="text-danger">Employee code is required.</div>-->

<!--</div>-->

<!--<label for="name">Name:</label>-->
<!--<input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="userRegiste.name"  required>-->
<!--<div *ngIf="name.invalid && (name.dirty || name.touched)">-->
<!--<div *ngIf="name?.errors.required" class="text-danger"> Name Adress is required.</div>-->

<!--</div>-->
<!--<label for="mail">Email:</label>-->
<!--<input type="email"-->
<!--id="mail"-->
<!--name="email"-->
<!--#email="ngModel"-->
<!--[(ngModel)]="userRegiste.email"-->
<!--pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"-->
<!--required>-->
<!--<div *ngIf="email.invalid && (email.dirty || email.touched)">-->
<!--<div *ngIf="email?.errors.required" class="text-danger"> Email Adress is required.</div>-->
<!--<div *ngIf="email?.errors.pattern" class="text-danger"> Email Wrong.</div>-->
<!--</div>-->

<!--<label for="password">Password:</label>-->
<!--<input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="userRegiste.password" required>-->
<!--<div *ngIf="password.invalid && (password.dirty || password.touched)">-->
<!--<div *ngIf="password?.errors.required" class="text-danger">  Password is required.</div>-->
<!--</div>-->

<!--<label for="password">RePassword:</label>-->
<!--<input type="password" id="repassword" name="repassword" #repassword="ngModel"  [(ngModel)]="userRegiste.repassword">-->
<!--<div *ngIf="(repassword.dirty || repassword.touched)">-->
<!--<div *ngIf="repassword.value !== password.value" class="text-danger"> rePassword does'nt math.</div>-->
<!--</div>-->
<!--</fieldset>-->
<!--<button type="submit"  [disabled]="formRegister.invalid || (repassword.value !== password.value)">Sign Up</button>-->
<!--</form>-->
