<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="card">
  <div class="card-header text-uppercase">Simple Basic Map</div>
  <div class="card-body">
    <agm-map [latitude]="lat" [longitude]="lng" [fullscreenControl]='true' [mapTypeControl]='true'>
    </agm-map>
  </div>
</div>
