/*css loading*/
@-webkit-keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: #000000;
  overflow: hidden; }

.spinner div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 #ff386a;
  transform: translate3d(0, 0, 0);
  animation: spin 2s linear infinite; }

.spinner div:first-child:after, .spinner div:first-child:before {
  content: '';
  position: absolute;
  border-radius: 50%; }

.spinner div:first-child:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 3px 3px 0 #ffe420;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

.spinner div:first-child:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 #3dafff;
  animation: spin 1.5s linear infinite; }

/*// custom css*/
.swal-text {
  text-align: center !important; }

/*// custom css smart table*/
.ng2-smart-action i {
  font-size: 30px; }

.ng2-smart-actions {
  display: flex;
  justify-content: center;
  align-items: center; }
  .ng2-smart-actions .ng2-smart-action {
    margin-right: 12px; }
    .ng2-smart-actions .ng2-smart-action i {
      font-size: 25px; }

ng2-smart-table table {
  background: #ffffff; }
ng2-smart-table nav.ng2-smart-pagination-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%; }
  ng2-smart-table nav.ng2-smart-pagination-nav .pagination {
    font-family: Exo;
    font-size: 1rem;
    line-height: 1.25;
    border: #1e6bb8 solid 2px;
    border-radius: 0.5rem; }
    ng2-smart-table nav.ng2-smart-pagination-nav .pagination .ng2-smart-page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%; }
    ng2-smart-table nav.ng2-smart-pagination-nav .pagination .ng2-smart-page-item {
      font-size: 16px; }

/*# sourceMappingURL=style.css.map */
