<div class="card">
  <div class="card-body">
    <a routerLink="round-horizontal-form" class="card-title">Vertical Form</a>
    <hr>
    <form #formInfor="ngForm" name="formInfor" (ngSubmit)="onSignIn(formInfor)">
      <div class="form-group row">
        <label for="input-16" class="col-sm-2">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-rounded" id="input-16" name="name" [(ngModel)]="infor.name" #inputName='ngModel'
                 placeholder="Enter Your Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="input-17"  class="col-sm-2">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-rounded" id="input-17" name="email" [(ngModel)]="infor.email"
                 #inputEmail='ngModel' placeholder="Enter Your Email Address"
                 required
                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          >
          <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
            <div *ngIf="inputEmail?.errors.required" class="text-danger"> Email Adress is required.</div>
            <div *ngIf="inputEmail?.errors.pattern" class="text-danger"> Email not true.</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-18" class="col-sm-2">Mobile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-rounded" id="input-18" name="mobile" [(ngModel)]="infor.mobile"
                 #inputMobile='ngModel' placeholder="Enter Your Mobile Number">
        </div>
      </div>
      <div class="form-group row">
        <label for="input-19" class="col-sm-2">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control form-control-rounded" id="input-19" name="password" [(ngModel)]="infor.password" required
                 #inputPassword='ngModel' placeholder="Enter Password">
          <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
            <div *ngIf="inputPassword?.errors.required" class="text-danger"> Password is required.</div>
          </div>
        </div>

      </div>
      <div class="form-group row">
        <label for="input-20" class="col-sm-2">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control form-control-rounded" id="input-20" placeholder="Confirm Password" name="repassword" #repassword="ngModel"  [(ngModel)]="infor.repassword">
          <div *ngIf="repassword.touched || repassword.dirty">
            <div class="text-danger" *ngIf="repassword.value !== inputPassword.value"> RePassword does'nt match.</div>
          </div>
        </div>
      </div>
      <div class="form-group py-2 row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="icheck-material-white col-sm-10">
        <input type="checkbox" id="user-checkbox4" name="remember" [(ngModel)]="infor.remember"
               #inputRemember='ngModel' checked=""/>
        <label for="user-checkbox4">I Agree Terms & Conditions</label>
      </div>
    </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-light px-5"
                  [disabled]="formInfor.invalid || (repassword.value !== inputPassword.value)"><i class="icon-lock"></i>
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
