<div class="row">
  <div class="col-lg-12">
  <app-data-table-example></app-data-table-example>
  </div>
</div><!-- End Row-->

<div class="row">
  <div class="col-lg-12">
    <app-data-table-export></app-data-table-export>
  </div>
</div><!-- End Row-->
